*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
/* header styles. my photo, about me and lorem ipsum*/
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{

    margin: 3rem 3rem;
}
.image{
    width: 100%;
}

.name{
    text-align: center;
    color: white;
    max-width: 300px;
    font-size: 3rem;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    
}
.content{
    margin-top: 2rem;
}
.about{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5px
}
.lorem{
    font-size: 1.5rem;
}
.icons-header{
    margin-top: 0.5rem;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
}
.platforms-icons{
    cursor: pointer;
    width: 35px;
    height: 35px;
    padding: 5px;
}
.platforms-icons:hover{
    background-color: grey;
}



/* Main styles, grid and layout with examples of projects. */
main{
    display: grid;
    padding: 3rem;
    margin-bottom: 4rem;
}
.my-work{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.grid-layout{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}
.project-container{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}
.image-project{
    aspect-ratio: 4 / 2.5;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.project-info{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
}
.project-name{
    font-size: 1.5rem;
}
.project-icons{
    display: flex;
    justify-content: space-between;
}
.project-description{
    padding: 0 1rem 1rem 1rem;
}



footer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0;
}
.info-footer{
    max-height: 500px;
    color: white;
    text-align: left;
    padding: 3rem;
    background-color: rgb(0, 136, 151);
}
.text-footer{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}
.adress-info{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.adress-road{
    margin-bottom: 0.5rem;
}
.full-adress{
    margin-bottom: 1rem;
}
.footer-icons-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.footer-icon{
    width: 30px;
    height: 30px;
}
.image-footer{
    height: 100%;
    width: 100%;
}
.image-footer > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 500px){
    .project-container{
        max-width: 600px;
    }
}
@media screen and (min-width: 700px){
    .grid-layout{
        grid-template-columns: 1fr 1fr;
    }
    .my-work{
        font-size: 2rem;
        margin-bottom: 1rem;
        justify-self: left;
    }
    .project-container{
        max-width: 500px;
    }
    footer{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .content{
        line-height: 1.8;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.15);
        margin-top: 5rem;
        margin-left: 3rem;
    }
    .about{
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    .lorem{
        font-size: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .image{
        float: left;
        max-width: 320px;
        margin-right: 2rem
    }
    .icons-header{
        display: none;
    }
    footer{
        background-color: rgb(0, 136, 151);
    }
    .image-footer{
        padding: 3rem;
    }
    .footer-icons-container{
        justify-content: start;
    }
}
@media screen and (min-width: 1025px){
    .image{
        object-fit: cover;
        max-height: 600px;
        max-width: 480px;
        object-position: center top;
    }
    .about{
        padding-top: 0.5rem;
        text-align: left;
        font-size: 3rem;
    }
    .content{
        margin-top: 2rem;
    }
    .grid-layout{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
@media screen and (min-width: 1400px){
    .about{
        font-size: 3rem;
    }
    .lorem{
        font-size: 2rem;
    }
    .project-container{
        max-width: 900px;
    }
    h1{
        font-size: 3rem;

    }
    .info-footer{
        font-size: 2rem;
    }
}
@media screen and (min-width: 1800px){
    .wrapper{
        padding: 6rem;
    }
}